# Dependencies
node_modules/

# Environment Variables (Penting agar API Key Supabase aman)
.env
.env.local

# Debugging logs
npm-debug.log*
yarn-debug.log*
*.log

# Folder hasil build
dist/
build/

# File sistem & Editor
.DS_Store
.vscode/
.idea/
